body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font1 {
    color: orange;
}

.font2 {
    color: deepskyblue}

.font3 {
    color: deeppink}

.font4 {
    color: orangered}






.target1 {
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 8px solid orange;
    border-radius: 40px;

    height: 70px;
    width: 300px;
    overflow: hidden;
    margin: 50px 50px;


}

.target2 {
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 8px solid deepskyblue;
    border-radius: 40px;

    height: 70px;
    width: 300px;
    overflow: hidden;

    margin: 50px 50px;

}

.target3 {
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 8px solid deeppink;
    border-radius: 40px;

    height: 70px;
    width: 300px;
    overflow: hidden;

    margin: 50px 50px;

}

.target4 {
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 8px solid orangered;
    border-radius: 40px;

    height: 70px;
    width: 300px;
    overflow: hidden;

    margin: 50px 50px;

}