* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


:root {
    --black-color: #000;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.top_bar {
    height: 83px;
    display: flex;
    justify-content: space-between;
}

.header_logo,
.nav_menu,
.nav_registration {
    display: flex;
    align-items: center;
}

.nav_menu {
    column-gap: 48px;
    display: flex;
    align-items: center;

}

.nav_registration {
    column-gap: 24px;
    margin-left: 177px;
}
.nav_btn {
    height: 54px;
    width: 163px;
    background: var(--black-color);
    color: white;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 29px;
    cursor: pointer;
    transition: box-shadow .30s;
}
.nav_btn:hover {
    box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
}

.nav_menu_item_vector {
    display: flex;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
}


.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    text-decoration: none;
}

.nav_registration__item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    text-decoration: none;
}



.header_wrap__content {
    max-width: 1440px;
    padding-left: 147px;
    display: flex;
    justify-content: space-between;

}

.header_content {

    display: flex;
    flex-direction: column;

}

.header_content__container1 {
    padding-top: 154px;
    width: 436px;
    margin-bottom: 32px;
}

.header_content__container2 {

    height: 1000px;
}

.header_content_title {
    font-size: 60px;
    line-height: 64px;
    color: var(--black-color);
    padding-bottom: 32px;
}
.header_content_text {
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 38px;
    color: var(--black-color);
}


.header_content__box {
    Width:600px;
    Height:886px;
    background: #f8c501;
}


.header_content__btn1 {
    height: 54px;
    width: 163px;
    background: #f8c501;
    color: var(--black-color);
    border: 1px solid #f8c501;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: box-shadow .30s;
}

.header_content__buttons {
    display: flex;
    column-gap: 14px;

}

.header_content__btn2 {
    height: 54px;
    width: 163px;
    background: white;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    /*padding: 0 29px;*/
    transition: box-shadow .30s;
}
.header_content__btn1:hover,
.header_content__btn2:hover,
.sprig_btn:hover,
.content3_btn:hover{
    box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
}

.header_content__image {
    position: relative;
    bottom: 720px;
    right: 120px;
    height: 608px;
    width: 541px;
}
.company_box {

    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    Width: 700px;
    Height: 96px;
    margin: 100px auto;

}
.company_text {

    font-size: 42px;
    line-height: 48px;
    color: var(--black-color);
display: flex;
    text-align: center;

}
.company_icons {
    height: 200px;
    width: 1143px;
    display: flex;
    justify-content: center;
    margin: 100px auto;

}

.company_rectangle {
    width: 1376px;
    height: 494px;
    display: flex;
    justify-content: center;
    margin: 100px auto;

}

.company_text2 {
    width: 711px;
    height: 60px;
    font-size: 31px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin: 0% auto;
    text-align: center;
}

.visualisation {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 911px;
    height: 528px;

}
.sprig_button {
    display: flex;
    justify-content: center;
}
.sprig_btn {

    height: 54px;
    width: 163px;
    background: #f8c501;
    color: var(--black-color);
    border: 1px solid #f8c501;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: box-shadow .30s;
}
.target_image {
    width: 1440px;
    height: 537px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.sText1 {
    Size: 14px;
    Line-height: 24px;
    color: #6A7981;
}
.sText2 {
padding-top: 13px;
    padding-bottom: 26px;
    font-size: 42px;
    Line-height: 48px;
    max-width: 579px;
    color: var(--black-color);
}
.sText3 {
    font-size: 22px;
    Line-height: 32px;
    color: var(--black-color);
    padding-bottom: 100px;
 }

.header_content3__containers {
    display: flex;
}

.header_content3__container1 {
    display: flex;
    flex-direction: column;
    max-width: 506px;
   padding-right: 240px;
}

.content3_title {
    padding-top: 23px;
    padding-bottom: 29px;
    font-size: 34px;
    line-height: 40px;
}

.content3_text {
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 64px;

}

.content3_btn {
    height: 54px;
    width: 163px;
    background: white;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: box-shadow .30s;
}

.content3_icon {
    padding-top: 140px;
}



}
.header_content3__container2 {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    max-width: 520px;
    height: 900px;

}





.solutions {
    display: flex;
    justify-content: flex-start;
    width: 550px;
    padding-bottom: 100px;

}

.header_wrap__content3 {
    padding-left: 148px;
    padding-right: 32px;
}


.solution1 {
    width: 228px;
    height: 23px;

    background: #e6e9ea;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    color: #61757e;
    cursor: pointer;

}

.solution2 {
    width: 147px;
    height: 23px;

    background: #e6e9ea;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    color: #61757e;
    cursor: pointer;

}

.solution3 {
    width: 152px;
    height: 23px;


    color: var(--black-color);
    background: #f8c501;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    cursor: pointer;

}

.features {
    width: 1440px;
    height: 960px;
    background: #f1ece6;

}

.feature_name {
    font-size: 14px;
    line-height: 24px;
    color: #667981;
}
.feature_title {
    width: 1064px;
    height: 128px;
    font-size: 60px;
    line-height: 64px;

}


